body {
    font-family: 'Roboto', sans-serif;
}

ul, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container{
    width: 1600px;
    margin: 0 auto;
}

.header-main {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 0;
}

.header-left{
    display: flex;
    justify-content: space-between;
    width: 520px;
}

.logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
}

.Web{
    color: #2196F3;
}

.header-ul1{
    display: flex;
    justify-content: space-between;
    width: 281px;
    align-items: center;
}

.nav-list-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-right{
    display: flex;
    justify-content: space-between;
    width: 307px;
    align-items: center;
}

.features-subtitle{
    display: block;
    background: #2196F3 ;
    border-radius: 4px;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 216px;
    height: 50px;
    margin: 0 auto;
}

.features-subtitle7{
    display: block;
    background: ghostwhite;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: black;
    width: 216px;
    height: 50px;
    margin: 0 auto;
    padding: 5px 0;
}

.ccc {
    display: flex;
    justify-content: space-around;
}

.team-list-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.team-list-paragraph{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
 
.container2 {
    margin: 0 auto;
    align-items: center;
    display: inline-block;
    font-family: sans-serif;
    background: #FFFFFF;
    padding: 10px 10px;
    border: 1px solid gray;
}

.hero{
    background-color: #FFFFFF;
    padding: 100px 0;
}

.nav-list-text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.footer{
    display: flex;
    background:#2F303A;
    max-width: 100%;
    height: 300px;
}

.footer-text{
    color: #FFFFFF;
}

.nav-list-2 a{
    text-decoration: none;
    color: #fff;
    
}

.wed2 {  
    color: #2196F3;
}

.nav-list-3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}

.color {
    color: #FFFFFF;
}

/* Vector */

.Vector {
position: absolute;
left: 70.89%;
right: 17.11%;
top: 17.31%;
bottom: 70.7%;
background: #FFFFFF;
}

/* Ellipse */

.Ellipse {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: rgba(255, 255, 255, 0.1);
}

.color-footer {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
}