body {
    font-family: 'Roboto', sans-serif;
}

ul, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.header-main {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 0;
}

.header-left{
    display: flex;
    justify-content: space-between;
    width: 520px;
}

.logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
}

.Web{
    color: #2196F3;
}

.header-ul1{
    display: flex;
    justify-content: space-between;
    width: 281px;
    align-items: center;
}

.nav-list-text:hover, .nav-list-text:focus {
    font-weight: 600;
    color: #94CFFF;
}

.nav-list-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}


.header-right{
    display: flex;
    justify-content: space-between;
    width: 307px;
    align-items: center;
}

.features-subtitle7:hover, .features-subtitle7:focus {
    color: #94CFFF;
}

.features-subtitle7{
    display: block;
    background: ghostwhite;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: black;
    width: 216px;
    height: 50px;
    margin: 0 auto;
    padding: 5px 0;
}

.ccc {
    display: flex;
    justify-content: space-around;
}

.team-list-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.team-list-paragraph{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
 
.container2 {
    margin: 0 auto;
    align-items: center;
    display: inline-block;
    font-family: sans-serif;
    background: #FFFFFF;
    padding: 10px 10px;
    border: 1px solid gray;
}

.hero{
    background-color: #FFFFFF;
    padding: 100px 0;
}

.img-8:hover, .img-8:focus {
    background: #2196F3E5;
}

.img-8 {
    width: 370px;
    height: 294px;
}

.footer{
    background:#2F303A;
}

.studio {
    color: #FFFFFF;
}

.footer-text{
    color: #FFFFFF;
}

.nav-list-2 a{
    text-decoration: none;
    color: #fff;
    
}

.nav-list-3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.color {
    color: #FFFFFF;
}

.color-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    
    color: #FFFFFF;
}
